---
import Base from "../layout/base.astro";
const title = "Registrarse | La República E-Sports Center";
---

<Base title={title}>
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <section class="w-full max-w-md">
      <h3 class="mb-3 text-4xl font-extrabold text-center">Registrarse</h3>
      <form
        action="/api/auth/register"
        method="post"
        class="grid grid-cols-1 gap-3 w-full"
      >
        <div class="grid grid-cols-1 gap-2">
          <label
            for="email"
            class="font-medium dark:text-zinc-300 text-zinc-900 text-sm"
            >Correo Electrónico</label
          >
          <input id="email" type="email" name="email" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none dark:bg-[#272f3c] mb-7 placeholder:text-grey-700 rounded-md"/>
        </div>
        <label
          for="password"
          class="font-medium dark:text-zinc-300 text-zinc-900 text-sm"
          >Contraseña</label
        >
        <input id="password" type="password" name="password" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none dark:bg-[#272f3c] mb-7 placeholder:text-grey-700 rounded-md"/>
        <button type="submit" class="w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 rounded-md hover:bg-purple-600 focus:ring-4 focus:ring-purple-100 bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500">Registarse</button>
      </form>
      <p class="text-zinc-500 dark:text-zinc-400 text-sm mb-8 w-full">
        tienes cuenta? <a
          href="/signin"
          class="dark:text-blue-400 text-blue-600 underline underline-offset-2 font-medium"
          >Ingresar</a
        >
      </p>
    </section>
  </main>
</Base>