---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="La República eSports Center" id="intro" aditionalClasses="pb-24">
  <img
    class="w-60"
    slot="eyebrow"
    src="/logoR.png"
    alt="logo republica"
  />
  <Fragment slot="lead">
    Centro de entretenimiento especializado en los 
    <span class="text-primary">juegos en linea</span> fundado por amantes de los 
    <span class="text-primary">eSports</span>.
  </Fragment>
</ContentSection>
