<div id="starfield" class="absolute inset-0">
  <video
    class="w-full h-screen object-cover object-top animate-ease-in animate-fade animate-duration-1000"
    src="/blackhole.webm"
    z-index="-10"
    autoplay
    loop
    muted
  ></video>
</div>
