<div class="w-full relative">
  <img
    class="absolute top-32 z-10 w-[800px] left-0 right-0 m-auto"
    src="/logoR.png"
    alt="Esland"
  />
  <video
    class="w-full h-screen object-cover object-top animate-ease-in animate-fade animate-duration-1000"
    src="/blackhole.webm"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
  ></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/blackhole.webm"
    autoplay
    loop
    muted></video>
</div>
